<html lang="ko" class="js logged-in client-root">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Instagram</title>
    <meta name="robots" content="noimageindex">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">
    <meta id="viewport" name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link href="https://graph.instagram.com" rel="preconnect" crossorigin="">
    <script async="" src="//connect.facebook.net/en_US/fbevents.js"></script>
    <script src="https://connect.facebook.net/signals/plugins/identity.js?v=2.7.20" async=""></script>
    <script src="https://connect.facebook.net/signals/config/1425767024389221?v=2.7.20" async=""></script>
    <script async="" src="//connect.facebook.net/en_US/fbevents.js"></script>
    <script id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk.js"></script>
    <script type="text/javascript">
        (function() {
            var docElement = document.documentElement;
            var classRE = new RegExp('(^|\\s)no-js(\\s|$)');
            var className = docElement.className;
            docElement.className = className.replace(classRE, '$1js$2');
        })();
    </script>
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/static/images/ico/apple-touch-icon-76x76-precomposed.png/932e4d9af891.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/static/images/ico/apple-touch-icon-120x120-precomposed.png/004705c9353f.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/static/images/ico/apple-touch-icon-152x152-precomposed.png/82467bc9bcce.png">
    <link rel="apple-touch-icon-precomposed" sizes="167x167" href="/static/images/ico/apple-touch-icon-167x167-precomposed.png/515cb4eeeeee.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/static/images/ico/apple-touch-icon-180x180-precomposed.png/94fd767f257b.png">
    <link rel="icon" sizes="192x192" href="/static/images/ico/favicon-192.png/b407fa101800.png">
    <link rel="mask-icon" href="/static/images/ico/favicon.svg/9d8680ab8a3c.svg" color="#262626">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/ico/favicon.ico/dfa85bb1fd63.ico">
    <link rel="alternate" href="https://www.instagram.com/" hreflang="x-default">

    <link rel="stylesheet" type="text/css" href="../../static/css/photoview.css">
</head>
<body class="">
<span id="react-root"><section data-reactroot="" class="_sq4bv _29u45">
<!-- react-empty: 3 -->
<main class="_8fi2q _2v79o" role="main">
<!-- react-empty: 5 -->
<section class="_owark" id="mainFeed">
<div class="">
	<div class="_14b0y">
		<div>

            <article class="_s5vjd _622au _5lms4 _8n9ix"><header class="_7b8eu _9dpug">
			<div class="_82odm">
				<span class="_pg23k _i2o1o" style="width: 30px; height: 30px;"><img class="_rewi8" src="/uploads/<%=uploadPath%>" ></span>
			</div>
			<div class="_j56ec">
				<div class="">
					<div class="_eeohz">
						<a class="_2g7d5 notranslate _iadoq" title="susannahiliguori" href=""></a>
					</div>
				</div>

			</div>
			</header>
			<div class="_sxolz">
				<div>
					<div class="_e3il2 _gxii9">
						<div class="_4rbun" style="padding-bottom: 87.2222%;">
                            <img alt="would make a LinkedIn just for this" class="_2di5p" src="/uploads/<%=uploadPath%>" style="object-fit : cover">
						</div>
                        <!-- react-empty: 35 -->
						<div class="_si7dy">
						</div>
					</div>
				</div>
			</div>
			<div class="_ebcx9">
				<section class="_hmd6j _8oo9w"><a class="_eszkz _l9yih" href="#" role="button" aria-disabled="false"><span class="_8scx2 coreSpriteHeartOpen">좋아요</span></a><a class="_p6oxf _6p9ga" href="#" role="button"><span class="_8scx2 coreSpriteComment">댓글 달기</span></a></section><section class="_1w76c _nlmjy">

				</section>
				<div class="_4a48i _277v9">
					<ul class="_b0tqa" id="commentView">

                        <% comment.forEach(function(comment){%>
						<li class="_ezgzd">
                            <a class="_2g7d5 notranslate _95hvo" title="#" href="#">
								<%=comment.displayName%>
                            </a>
                            <span>
                                <span>
                                    <span><%=comment.content%></span>
                                </span>
                            </span>
                        </li>
                        <%})%>
					</ul>
				</div>

				<section class="_km7ip _ti7l3">
				<form id="commentForm" method="post" action="">
                    <input type="hidden" name="uploadPath" value="<%=uploadPath%>">
					<textarea aria-label="댓글 달기..." class="_bilrf" placeholder="댓글 달기..." name="content" style="height: 18px;"></textarea>
				</form>
				</section>
			</div>
			<div class="_lj408 _5mwg7">
				<button class="_tauyc"><span class="coreSpriteOptionsEllipsis _8scx2">옵션 더 보기</span></button>
			</div>
			</article>

        </div>
		<div class="_gwyj6">
			<div class="_4c5eh">
				<iframe aria-hidden="true" class="_o6ctz" tabindex="-1">
				</iframe>
			</div>
		</div>
		<div class="_gee85">

		</div>
	</div>
</div>
</section></main><nav class="_68u16 _gft4l" role="navigation">
<div class="_axuw9">
</div>
<div class="_s4gw0 _1arg4">
	<div class="_tpnch">
		<div class="_5rnaq">
			<div class="_iraxg">
				<div class="_catib">
									<a
											class=""
											href="/photocategoryselect" style="font-size : 20px">PhotoZone</a><a
							class="_giku3 _8scx2 _e8tsh coreSpriteGlyphBlack" href="/">Instagram</a>
								</div>
			</div>
			<div class="_5ayw3 _ohiyl">
				<form name="searchForm" method="get" action="/categorysearch/result">
					<input type="text" name="category" class="_avvq0 _o716c" placeholder="검색" value="">
				</form>
			</div>
			<div class="_devkn">
				<div class="_qlijk">
					<div class="_b28md">
						<a class="_8scx2 _gvoze coreSpriteDesktopNavExplore" href="/explore/">사람 찾기</a>
					</div>
					<div class="_b28md">
						<a href="#" class="_ohbcb _gvoze coreSpriteDesktopNavActivity"><span class="_8scx2">활동 피드</span></a>
					</div>
					<div class="_b28md">
						<a class="_8scx2 _gvoze coreSpriteDesktopNavProfile" href="/dongho9129/">프로필</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</nav><footer class="_s5vm9" role="contentinfo">
<div class="_g7lf5 _9z659" style="max-width: 600px;">
	<nav class="_luodr" role="navigation">
	<ul class="_g8wl6">
		<li class="_538w0"><a class="_hqmnd" href="/admin">Photo Upload</a></li>
		<li class="_538w0"><a class="_hqmnd" href="https://help.instagram.com/">지원</a></li>
		<li class="_538w0"><a class="_hqmnd" href="/">블로그</a></li>


	</ul>
	</nav><span class="_1gmap">© 2017 dPaulb</span>
</div>
</footer>
        <!-- react-empty: 1029 -->
        <!-- react-empty: 1030 -->
</section></span>
<script src="../../static/js/photoview.js"></script>
<script type="text/javascript" src="/static/bundles/ko_KR_Commons.js/ecccb04376e0.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/bundles/ko_KR_FeedPage.js/f23bffe8387f.js" crossorigin="anonymous"></script>
<textarea style="letter-spacing: normal; line-height: 18px; padding: 0px; font-family: -apple-system, system-ui, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; text-rendering: auto; text-transform: none; width: 542px; text-indent: 0px; border-width: 0px; box-sizing: content-box; min-height: 0px !important; max-height: none !important; height: 0px !important; visibility: hidden !important; overflow: hidden !important; position: absolute !important; z-index: -1000 !important; top: 0px !important; right: 0px !important;"></textarea>
<div class="_c2vev">
    <div data-reactroot="" class="_162ov">
    </div>
</div>
<script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','//connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1425767024389221', {'external_id':'3954427745'});
    fbq('track', 'PageView');


</script>
<script>
    (function(){
        $(document).ready(function(){
            $("textarea[name=content]").keypress(function(event) {
                if (event.which == 13) {
                    $("#commentForm").submit();
                }
            });

            $('#commentForm').submit(function(){
                var $contentVal = $('#commentForm').children('textarea[name=content]').val();
                if($contentVal){
                    $.ajax({
                        type : 'post',
                        url : '/photoView/ajax_comment/insert',
                        data : $(this).serialize()
                    })
                        .done(function(args){
                            if(args.message === "success"){
                                $('#commentView').append(
                                    '<li class="_ezgzd">' +
									'<a class="_2g7d5 notranslate _95hvo" title="#" href="#">' + args.displayName + '</a>'+
									'<span><span>' + '<span>' + args.content + '</span>' +'</span></span>' + '</li>'
                                )
                                $('#commentForm').children('textarea[name=content]').val("")
                            }
                        })
                        .fail(function(args) {
                            alert("로그인을 해주세요.");
                            location.href = "/accounts/login"
                        });
                }
                else{
                    alert("댓글을 입력해주세요")
                }
                return false;
            });


//            $(document).on('click', '#commentView', function(){
//                var $contentVal = $('#commentForm').children('textarea[name=content]').val();
//                alert($contentVal);
//            })





        });
    })();
</script>
<noscript>
</noscript>
<div id="fb-root" class=" fb_reset">
    <div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
        <div>
            <iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="https://staticxx.facebook.com/connect/xd_arbiter/r/0sTQzbapM8j.js?version=42#channel=f35d8d862364fe4&amp;origin=https%3A%2F%2Fwww.instagram.com" style="border: none;">
            </iframe>
        </div>
    </div>
    <div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
        <div>
        </div>
    </div>
</div>
</body>
</html>

